body {
	background-color: rgba(244, 244, 255, 1.0);
	color: rgba(74, 74, 79, 1.0);
	font-family: 'Raleway', sans-serif;
	min-width: 320px;
}
h1	{
	font-size: 6em;
	text-align: center;
}
p {
	text-align: center;
}
a:link {
	text-decoration: none;
	color: rgba(255, 51, 0, 1.0);
}
a:visited {
	color: rgba(255, 51, 0, 1.0);
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: rgba(255, 51, 0, 0.5);
}